body {
  display:flex;
  flex-direction: column;
  color: #ffffff;
}


.flower {
  display: flex;
  justify-content: center;
}

.download{
  display:flex;
  justify-content: center;
}


.colors {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.color-swatch {
  height: 70px;
  width: 70px;
  border-radius: 7px;
  margin: 9px;
  cursor: pointer;
  border: 4px solid black;
}

.color-swatch-active {
  box-shadow: inset 0 0 15px #000000;
  transition: all 0.2s;
}

.sharebuttons{
  display:flex;
  justify-content: center;
}

div.Navbar{
  width: 1000px;
  margin-left: 0px;
}

html{
  margin-left: 25px;
}